<div class='container'>
  <h1>Liên hệ</h1>
  <form method='post' action='/contact'>
    <div><input type='text' name='name' placeholder='Họ tên'></div>
    <div><input type='email' name='email' placeholder='Email'></div>
    <div><input type='text' name='phone' placeholder='Số điện thoại'></div>
    <div><input type='text' name='subject' placeholder='Chủ đề'></div>
    <div><textarea name='message' placeholder='Nội dung'></textarea></div>
    <button type='submit'>Gửi</button>
  </form>
</div>
