<div class='container'>
  <h1>Đăng nhập</h1>
  <% if (typeof error !== 'undefined' && error) { %><p><%= error %></p><% } %>
  <form method='post' action='/login'>
    <div><input type='email' name='email' placeholder='Email'></div>
    <div><input type='password' name='password' placeholder='Mật khẩu'></div>
    <button type='submit'>Đăng nhập</button>
  </form>
</div>
