<div class='container'>
  <h1>Thêm Loại thuốc</h1>
  <form method='post' action='/admin/categories/create'>
    <div>
      <label>Tên loại thuốc:</label>
      <input type='text' name='name' placeholder='VD: Thuốc kháng sinh, Thuốc giảm đau,...'>
    </div>
    <div>
      <label>Mô tả:</label>
      <textarea name='description' placeholder='Mô tả loại thuốc'></textarea>
    </div>
    <button type='submit'>Lưu</button>
  </form>
</div>
