<div class='container'>
  <h1>Thêm Nhà sản xuất thuốc</h1>
  <form method='post' action='/admin/brands/create'>
    <div>
      <label>Tên nhà sản xuất:</label>
      <input type='text' name='name' placeholder='Tên nhà sản xuất'>
    </div>
    <div>
      <label>Mô tả:</label>
      <textarea name='description' placeholder='Mô tả nhà sản xuất'></textarea>
    </div>
    <button type='submit'>Lưu</button>
  </form>
</div>
